.filmes-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
        "filme1 filme2 filme3";
    justify-items: center;


}.filme1, .filme2, .filme3{
    background-color: lightblue;
    width: 300px;
    height: 20rem;
}

.filme1{
    grid-area: filme1;
}
.filme2{
    grid-area: filme2;
}
.filme3{
    grid-area: filme3;
}