body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  color: black;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 20vh 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

.header-content {
  grid-area: header;
  background-color: purple;
}

.main-content {
  grid-area: main;
  background-color: lightgray;
  
}

.footer-content {
  grid-area: footer;
  background-color: darkgray;
 
}